
.navbar{
    background: grey;
    font-weight:500;
}

.navbar a{
    color: whitesmoke;
}

.nav-link active{
    color: white;
}



.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



.h5jumbotron{
    font-size: 5em;
    font-weight: 300;

}

.card{
    width: 100%;
    justify-content: center;

}

#jumbotron{

    margin-top: 80px;
}

